
@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Şehirler Arası Günlük Elektrik Tüketim Grafiği</h2>
<hr style="border-block-color:brown"/>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
@section Scripts
    {

  
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        $(document).ready(() => {

            var electricChartList = new Array();

            electricChartList.push(["Tarih", "Ankara", "Bursa", "Konya", "Adana", "İzmir"])

            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44375/ElektrikHub").build();

            connection.start().then(() => {
                connection.invoke("GetElektricList");
            }).catch((err) => {
                console.log(err);
            })

            connection.on("ReceiveElectricList", (GetElectricChartsList) => {
                electricChartList = electricChartList.splice(0, 1);
                GetElectricChartsList.forEach((item) => {
                    electricChartList.push([item.electricDate, item.counts[0], item.counts[1], item.counts[2], item.counts[3], item.counts[4]]);
                })

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
                /* console.log(GetElectricChartsList);*/
            })

            function drawChart() {
                var data = google.visualization.arrayToDataTable(electricChartList);

                var options = {
                    title: 'Elektrik Tüketim Grafiği',
                    curveType: 'none',
                    legend: { position: 'bottom' }
                };
                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }

        })


    </script>


}
<div id="curve_chart" style="width:1200px; height:800px"></div>

